<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>

    <script src="/assets/js/index.js" defer></script>
    <link rel="stylesheet" href="/assets/css/index.css">
  </head>
  <body>
    {% include "../components/header.twig" %}
    {{ content|raw }}
    {% include "../components/footer.twig" %}
  </body>
</html>
